*{
      box-sizing: border-box;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
}


/* <!-- hrad sectin start here --> */

.container {
      width: 100%;
      height: 200px;
      
}
.container .header{
        width: 100%;
        height: 200px;
        display: inline-block;
        background-color: rgba(12, 12, 12, 0.938) ;
       
}
.container .header .logo{
        width: 30%;
        height:200px ;
        float: left;  
}
.container .header .logo h2{
      color: rgba(218, 165, 32, 0.795);
      text-align: center;
      font-size: 50px;
      line-height: 72px;
      font-weight: 8000;
}
.container .header .logo span{
      color: rgb(255, 183, 0);
}

.container .header .nav{
      position: relative;
      width: 60%;
      height:200px;
      float: right;
}
.container .header .nav nav ul{
      position: absolute;
      left: 0;
}
.container .header .nav nav ul li{
      background-color: green;
      padding: 15px 20px;
      list-style-type: none;
      display: inline-block;

}

.container .header .nav nav ul li{
      margin-top:50px;
      margin-right:30px;
}
.container .header .nav nav ul li a{
      text-decoration: none;
      text-align: center;
      color: goldenrod;
      padding: 15px 20px;
}

/* <!-- hrad sectin end here --> */
/* this is the container section*/

.main-container{
      width: 100%;
      height:600px;

}
.main-container .airticel{
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: row;
      /* flex-wrap: wrap; */
}
/* left content start here */
.main-container .airticel .left{
      width: 30%;
      height: 400px;
      margin-top: 10px;
      background-color: #ddd;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.37);
}
.main-container .airticel .left p{
      font-size: 13px;
      font-weight: 400;
      font-style: initial;
      text-align: justify;
      padding: 20px;
      color: rgba(0, 0, 0, 0.712);
}
.main-container .airticel .left h2{
      text-align: center;
      margin: 0;
      padding-top:10px;
      font-size: 30px;
      color:  rgba(0, 0, 0, 0.842);
}
.main-container .airticel .left a{
      text-decoration: none;
      color: #ddd;
      display: inline-block;
      margin-top: 5px;
      padding: 8px 15px;
      background-color: goldenrod;
}

/* left content end here */
/* center content start here */


.main-container .airticel .center{
      width: 40%;
      height: 400px;
      margin-left: 10px;
}
.main-container .airticel .center{
      margin-top: 10px;
      background-color: #ddd;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.37);
}
.main-container .airticel .center h3{
      text-align: center;
      margin: 0;
      font-size: 30px;
      color:  rgba(0, 0, 0, 0.842);
}
.main-container .airticel .center .img{
      width: 100%;
      height: 300px;
}
.main-container .airticel .center .img img{
      width: 100%;
      height: 300px;
      padding: 10px;

}
.main-container .airticel .center p{
     font-size: 15px;
      font-weight: 500;
      font-style: initial;
      text-align: center;
      color: rgba(0, 0, 0, 0.918);
}
/* center content end here */
.main-container .airticel .right{
      width: 30%;
      height: 400px;
}

/* end container section */

